<!DOCTYPE html>
<html>
<head>

<style>
h1 {
    left: 100px;
    top: 250px;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

body, html {height: 100%}
body {
  background-image: url('https://raw.githubusercontent.com/Akash-droid24/image-repo/main/back2.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

</style>
</head>
<body>
    <div class="center">
        <h1>THANK YOU FOR YOUR RESPONSE</h1>
        <hr class="w3-border-grey" style="margin:auto;width:70%">

    </div>    
</body>